
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <div class="white-box">
              <div class="col-xs-12">
              <%= image_tag("pawandeep.jpg", class: "media-object img-responsive center-block")%> 
                <h3 class="text-center "><%=@dwelling.try(:display_name)%></h3>
              </div>
            <div class="user-btm-box">
              <div class="col-md-4 col-xs-6 text-center">
                <p class="text-purple">
                  Bedrooms
                </p>
                <h1>
                  <%=@dwelling.num_rooms%>
                </h1>
              </div>
              <div class="col-md-4 col-xs-6 text-center">
                <p class="text-blue">
                  Baths
                </p>
                <h1>
                  <%=@dwelling.num_bathrooms%>
                </h1>
              </div>
              <div class="col-md-4 col-xs-12 text-center">
                <p class="text-danger">
                  Occupants
                </p>
                <h1>
                  3
                </h1>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <% if current_user.try(:is_participant?) %>
                  <% if @is_favorited %>
                    <a href=<%= unfavorite_dwelling_url(@dwelling) %> data-method="put" class="btn btn-block btn-warning">
                      <i class="fa fa-star"></i> <span>Unfavorite</span>
                    </a>
                  <% else %>
                    <a href=<%= favorite_dwelling_url(@dwelling) %> data-method="put" class="btn btn-block btn-outline btn-warning">
                      <i class="fa fa-star"></i> <span>Favorite</span>
                    </a>
                  <% end %>
                <% end %>
              </div>
            </div>
        </div>
        <div class="white-box">
        <% if current_user.try(:is_participant?) %>
          <div class="row">
            <div class="col-sm-12">
              <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#inquiryModal">
                Send Inquiry
              </button>
            </div>
          </div>
        <% end %>
        <% if current_user.try(:is_participant?) %>
        <div class="row">
          <div class="col-sm-12">
            <button type="button" class="btn btn-block btn-primary m-t-20" data-toggle="modal" data-target="#applicationModal">Apply</button>
          </div>
        </div>
        <% end %>
        </div>
        </div>
        <div class="col-sm-8 col-xs-12">
          <div class="white-box">
            <ul class="nav nav-tabs tabs customtab">
              <li class="active tab"><a href="#details" data-toggle="tab"> <span class="visible-xs"><i class="fa fa-home"></i></span> <span class="hidden-xs">Details</span> </a> </li>
              <li class="tab"><a href="#ratings" data-toggle="tab"> <span class="visible-xs"><i class="fa fa-user"></i></span> <span class="hidden-xs">Ratings</span> </a> </li>
<!--               <li class="tab"><a href="#messages" data-toggle="tab" aria-expanded="true"> <span class="visible-xs"><i class="fa fa-envelope-o"></i></span> <span class="hidden-xs">Map</span> </a> </li> -->
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="details">
                <h4 class="font-bold m-t-30 text-center">Property Details</h4>
                <hr>
                <h4 class="m-t-30">Address</h4>
                <p class="m-t-10">
                  <%=@dwelling.address.full_street_address%>
                </p>
                <hr>
                <div class="row">
                <h4 class="">Ammenities</h4>
                <div class="col-sm-6">
                <ul class="list-icons">
                  <li><i class="fa fa-chevron-right text-danger"></i> Covered Parking</li>
                  <li><i class="fa fa-chevron-right text-danger"></i> Close to Elementary School</li>
                  <li><i class="fa fa-chevron-right text-danger"></i> Community Center Membership</li>
                </ul>
                </div>
                <div class="col-sm-6">
                <ul class="list-icons">
                  <li><i class="fa fa-chevron-right text-danger"></i>Handicap Accessible</li>
                  <li><i class="fa fa-chevron-right text-danger"></i>In-unit washer/dryer</li>
                  <li><i class="fa fa-chevron-right text-danger"></i> Integer molestie lorem at massa </li>
                </ul>
                </div>
</div>

<!--                 <div class="row m-t-30">
<hr>
                  <div class="col-sm-4 col-xs-6 b-r"> <strong>Full Name</strong> <br>
                    <p class="text-muted">Johnathan Deo</p>
                  </div>
                  <div class="col-sm-4 col-xs-6 b-r"> <strong>Mobile</strong> <br>
                    <p class="text-muted">(123) 456 7890</p>
                  </div>
                  <div class="col-md-4 col-xs-12 b-r"> <strong>Email</strong> <br>
                    <p class="text-muted">johnathan@admin.com</p>
                  </div>
                </div> -->
                <hr>


              </div>
              <div class="tab-pane" id="ratings">
                <h4 class="">Owner Rating</h4>
                <hr>
                <h5>Friendly<span class="pull-right">80%</span></h5>
                <div class="progress">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%;"> <span class="sr-only">50% Complete</span> </div>
                </div>
                <h5>Respectable<span class="pull-right">90%</span></h5>
                <div class="progress">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%;"> <span class="sr-only">50% Complete</span> </div>
                </div>
                <h5>Minds own business<span class="pull-right">50%</span></h5>
                <div class="progress">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%;"> <span class="sr-only">50% Complete</span> </div>
                </div>
                <h5>Attentive <span class="pull-right">70%</span></h5>
                <div class="progress">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%;"> <span class="sr-only">50% Complete</span> </div>
                </div>

                <h4 class="m-t-30">Property Rating</h4>
                <hr>
                <h5>Quality<span class="pull-right">80%</span></h5>
                <div class="progress">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%;"> <span class="sr-only">50% Complete</span> </div>
                </div>
                <h5>Cleanliness<span class="pull-right">90%</span></h5>
                <div class="progress">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%;"> <span class="sr-only">50% Complete</span> </div>
                </div>
                <h5>Decor<span class="pull-right">50%</span></h5>
                <div class="progress">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%;"> <span class="sr-only">50% Complete</span> </div>
                </div>
                <h5>Neighborhood<span class="pull-right">70%</span></h5>
                <div class="progress">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%;"> <span class="sr-only">50% Complete</span> </div>
                </div>
              </div>

 <!--              <div class="tab-pane" id="messages">
              <h1>Hello Hello</h1>
              </div> -->

            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->








<div class="modal fade" id="inquiryModal" tabindex="-1" role="dialog" aria-labelledby="inquiryModalLabel1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="inquiryModalLabel1">New Inquiry</h4>
      </div>
      <div class="modal-body">
        <%= form_tag send_inquiry_dwelling_path, method: :post do |f| %>

          <%= hidden_field_tag :id, @dwelling.id %>

          <div class="form-group">
            <%= label_tag 'Subject:', nil, class: "control-label" %>
            <%= text_field_tag :subject, nil, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= label_tag 'Message:', nil, class: "control-label" %>
            <%= text_area_tag :body, nil, class: "form-control", rows: 5 %>
          </div>

          <%= submit_tag 'Submit', :class => 'btn btn-block btn-danger' %>

        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="applicationModal" tabindex="-1" role="dialog" aria-labelledby="applicationModalLabel1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="applicationModalLabel1">Apply</h4>
        <h5>Once your application is submitted to the host, s/he will have 5 days to review your application. We will notify you as soon as your application is approved or rejected.</h5>
      </div>
      <div class="modal-body">
        <%= form_tag submit_application_dwelling_path, method: :post do |f| %>

          <%= hidden_field_tag :id, @dwelling.id %>

          <div class="form-group">
            <%= label_tag 'Rental Term:', nil, class: "control-label" %>
            <%= select_tag :program_id, options_for_select(@program_options), class: "form-control" %>
          </div>

          <div class="form-group">
            <%= label_tag 'Message:', nil, class: "control-label" %>
            <%= text_area_tag :message, nil, placeholder: "Tell your host about yourself and why you are interested in this dwelling!" ,class: "form-control", rows: 5 %>
          </div>

          <%= submit_tag 'Submit', :class => 'btn btn-block btn-danger' %>

        <% end %>
      </div>
    </div>
  </div>
</div>