<!-- .row -->
<div class="row">
  <div class="col-md-12">
    <div class="white-box">
      <h3 class="box-title">Hi I am Dwelling Show Page</h3>
      <h2><small><%= @dwelling.display_name %></small></h2>


      <% if current_user.is_participant? %>
        <div class="row">
          <div class="col-sm-2">
            <% if current_user.is_participant? %>
              <% if @is_favorited %>
                <a href=<%= unfavorite_dwelling_url(@dwelling) %> data-method="put" class="btn btn-block btn-warning">
                  <i class="fa fa-star"></i> <span>Unfavorite</span>
                </a>
              <% else %>
                <a href=<%= favorite_dwelling_url(@dwelling) %> data-method="put" class="btn btn-block btn-outline btn-warning">
                  <i class="fa fa-star"></i> <span>Favorite</span>
                </a>
              <% end %>
            <% end %>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#inquiryModal">Send Inquiry</button>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#applicationModal">Apply</button>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div class="modal fade" id="inquiryModal" tabindex="-1" role="dialog" aria-labelledby="inquiryModalLabel1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="inquiryModalLabel1">New Inquiry</h4>
      </div>
      <div class="modal-body">
        <%= form_tag send_inquiry_dwelling_path, method: :post do |f| %>

          <%= hidden_field_tag :id, @dwelling.id %>

          <div class="form-group">
            <%= label_tag 'Subject:', nil, class: "control-label" %>
            <%= text_field_tag :subject, nil, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= label_tag 'Message:', nil, class: "control-label" %>
            <%= text_area_tag :body, nil, class: "form-control", rows: 5 %>
          </div>

          <%= submit_tag 'Submit', :class => 'btn btn-block btn-danger' %>

        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="applicationModal" tabindex="-1" role="dialog" aria-labelledby="applicationModalLabel1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="applicationModalLabel1">Apply</h4>
        <h5>Once your application is submitted to the host, s/he will have 5 days to review your application. We will notify you as soon as your application is approved or rejected.</h5>
      </div>
      <div class="modal-body">
        <%= form_tag submit_application_dwelling_path, method: :post do |f| %>

          <%= hidden_field_tag :id, @dwelling.id %>

          <div class="form-group">
            <%= label_tag 'Rental Term:', nil, class: "control-label" %>
            <%= select_tag :program_id, options_for_select(@program_options), class: "form-control" %>
          </div>

          <div class="form-group">
            <%= label_tag 'Message:', nil, class: "control-label" %>
            <%= text_area_tag :message, nil, placeholder: "Tell your host about yourself and why you are interested in this dwelling!" ,class: "form-control", rows: 5 %>
          </div>

          <%= submit_tag 'Submit', :class => 'btn btn-block btn-danger' %>

        <% end %>
      </div>
    </div>
  </div>
</div>