<h1>Users</h1>
<table>
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>ID</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
</thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.try(:first_name)%></td>
        <td><%= user.try(:last_name) %></td>
        <td><%= user.try(:public_user_id) %></td>
        <td><%= link_to 'Show', sti_users_path(user.user_type, user) %></td>
        <td><%= link_to 'Edit', "" %></td>
        <td><%= link_to 'Destroy', "", method: :delete, data: { confirm: 'Are you sure?' } %></td>
<td><%= link_to "See all #{user.user_type.pluralize}", sti_users_path(user.user_type) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'See all users', sti_users_path %>
