<section class=" image-bg overlay">
  <div class="background-image-holder">
    <%= image_tag('door.jpg', class: "background-image") %> 
  </div>
  <div class="container text-center-xs">
    <div class="row">
      <div class="col-sm-6 ">
        <h1 class="">We'd love to hear from you.</h1>
        <h5 class="bold">Please feel free to reach out to us, our door is always open.</h5>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0  text-right">
        <%= form_tag({controller:"home", action:"say_hello"}, {method: "post", id: "", class: "contact-us-form"}) do %> 
          <div class="row">
            <div class="col-sm-6">
              <%= text_field_tag( "first_name", nil, name: "ff[first_name]", :placeholder => "First Name", class: "", required: true)%>
            </div>
            <div class="col-sm-6">
              <%= text_field_tag( "last_name", nil, name: "ff[last_name]", :placeholder => "Last Name", class: "", required: true)%>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <%= text_field_tag( "email", nil, name: "ff[email]", :placeholder => "some@email.com", class: "", :required => true, type: :email)%>
            </div>
          </div>
          <div class="row">
          <div class="col-xs-12 ">
            <%= text_area(:comment, nil, name: "ff[message]", size: "2x3", :placeholder => "Enter your message here") %>
          </div>
          </div>
          <div class="row">
          <div class="col-xs-12">
            <%= submit_tag 'Say Hello', name:"ff[say_hello]", class: "btn btn-md capitalize center-button" %>
          </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>