<%= render "nav_bar" %>

<div class="main-container">
    <section class="image-bg overlay arallax pt240 pb180 pt-xs-80 pb-xs-80 ">
        <div class="background-image-holder">
            <%= image_tag("family_home.jpg", class: "background-image") %> 
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 ">
                    
                    <h1 >A community-based approach to affordable housing</h1>
                    <a style="font-size:1.3em;" class="btn btn-lg capitalize" href="#purhcase-template">Sign Up</a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="" id="about-us">
        <div class="container">
            <div class="row v-align-children">
                <div class="col-sm-4 col-md-offset-1 mb-xs-24">
                    <h2 class="mb64 mb-xs-32 text-center">Designed to make affordable housing <span class="pbnb-color">simpler</span> than ever</h2>
                    
                </div>
                <div class="col-sm-5 col-sm-6 col-sm-offset-1 text-center">
                    <div class="mb40 mb-xs-24">
                        <h5 class="uppercase bold mb16">For tenants</h5>
                        <p class="fade-1-4">
                            This is it, that perfect template you've been looking for. It's well built and sharp looking, goodbye competition!
                        </p>
                    </div>
                    <div class="mb40 mb-xs-24">
                        <h5 class="uppercase bold mb16">For hosts</h5>
                        <p class="fade-1-4">
                            Utilize the near infinite number of Apple Watch mockups to showcase your app in clear context. Thank god for Dribbble, huh?
                        </p>
                    </div>
                    <div class="mb40 mb-xs-24">
                        <h5 class="uppercase bold mb16">For Housing Authorities</h5>
                        <p class="fade-1-4">
                            This is it, that perfect template you've been looking for. It's well built and sharp looking, goodbye competition!
                        </p>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    
    <section class="image-bg overlay parallax pt180 pt-xs-80 pb-xs-80">
        <div class="background-image-holder">
            <%= image_tag("keys_home.jpg", class: "background-image") %> 
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6 col-md-push-7 col-sm-push-6">
                    <h2>Reinvisioning Public Housing</h2>
                    <p class="lead mb48 mb-xs-32">
                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container sm-text-center">
            <div class="row">
                    <div class="col-xs-12">
                        <h4 class="uppercase mb16 text-center bold pb12">
                            For Tenants
                        </h4>
                    </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-push-3 text-center">
                    <div class="image-slider slider-paging-controls controls-outside">
                        <ul class="slides">
                            <li class="mb32">
                                <%= image_tag("tenant_profile.png") %> 
                            </li>
                            <li class="mb32">
                                <%= image_tag("property_map.png") %> 
                            </li>
                            <li class="mb32">
                                <%= image_tag("tenant_profile.png") %> 
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-sm-pull-6">
                    <div class="mt80 mt-xs-80 ">
                        <h5 class="uppercase bold mb16">Universal Application</h5>
                        <p class="fade-1-4">
                            The reminder that just keeps reminding! Scramble to your watch to silence these intrusive notifications.
                        </p>
                    </div>
                    <div class="mt80 mt-xs-0 ">
                        <h5 class="uppercase bold mb16">Payment Calculator</h5>
                        <p class="fade-1-4">
                            No more personal responsibility! You'll now be constantly reminded to stand up and move around.
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="mt80 mt-xs-0">
                        <h5 class="uppercase bold mb16">Find, Filter, &amp Favorite</h5>
                        <p class="fade-1-4">
                            Forget empty branding promises, this thing is powered by awesome (you), and we stand by that.
                        </p>
                    </div>
                    <div class="mt80 mt-xs-0">
                        <h5 class="uppercase bold mb16">Community Verified</h5>
                        <p class="fade-1-4">
                            And you wont be able to use the app! Make sure you have the phone within close proximity at all times!
                        </p>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="bg-secondary">
        <div class="container sm-text-center">
            <div class="row">
                                <div class="col-xs-12">
                        <h4 class="uppercase mb16 text-center bold pb24">
                            For Hosts
                        </h4>
                    </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="feature feature-3 mb30">
                        <div class="left">
                            <i class="ti-medall-alt text-white icon-sm"></i>
                        </div>
                        <div class="right">
                            <h5 class="mb8 uppercase bold">Verified Income &amp References</h5>
                            <p class="fade-1-4">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature feature-3 mb30">
                        <div class="left">
                            <i class="ti-search text-white icon-sm"></i>
                        </div>
                        <div class="right">
                            <h5 class="mb8 uppercase bold">Background Checks</h5>
                            <p class="fade-1-4">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="feature feature-3 mb30">
                        <div class="left">
                            <i class="ti-shield text-white icon-sm"></i>
                        </div>
                        <div class="right">
                            <h5 class="mb8 uppercase bold">Trusted Community</h5>
                            <p class="fade-1-4">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature feature-3 mb30">
                        <div class="left">
                            <i class="ti-desktop text-white icon-sm"></i>
                        </div>
                        <div class="right">
                            <h5 class="mb8 uppercase bold">Property &amp Tenant Manager</h5>
                            <p class="fade-1-4">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="bg-dark pb0">
        <div class="container">
            <div class="row mb64 mb-xs-32">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                    <h1 class="large">Coming Soon</h1>
                    <p class="lead mb48 mb-xs-32 fade-1-4">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque.
                    </p>
                    <input style="max-width:300px;display:block;margin:0 auto 20px;"type="text" placeholder="Input with Placeholder" />
                    <a style="font-size:1.3em;" class="btn btn-lg capitalize" href="#purhcase-template">Sign Up</a>
                </div>
            </div>
            <!--end of row-->
<!--             <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
     
                </div>
            </div> -->
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <footer class="footer-2 bg-dark pt0 pb40">
        <div class="container">
            <div class="row">
                <hr class="mt0 mb40" />
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-xs-4 col-sm-4">
                    <a href="#">
                        <%= image_tag("nav_light.png", class: "image-xxs fade-half") %> 
                    </a>
                </div>
                <div class="col-xs-8 col-sm-4 text-center">
                    <span class="fade-half">
                        © Copyright 2016 PublicBnB - All Rights Reserved
                    </span>
                </div>
<!--                 <div class="col-sm-4 text-right">
                    <ul class="list-inline social-list">
                        <li>
                            <a href="#">
                                <i class="ti-twitter-alt"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-dribbble"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-vimeo-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div> -->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </footer>
</div>

<% content_for :javascripts do %>
<%= javascript_include_tag "scripts" %>
<% end %>