<%= render "nav_bar" %>

<div class="main-container" id="home">
  <%= render "flash_messages"%>
  <%= render "welcome_banner" %>
  <%= render "main_about_section"%> 
  <%= render "supporting_about_section" %>
  <%= render "newsletter_signup_section" %>
  <%= render "tenant_section" %>
  <%= render "host_section" %>
  <%= render "contact_us_section" %>
  <%= render "footer" %>
</div>

<% content_for :javascripts do %>
<% end %>