
<li class="user-pro">
   <a href="#" class="waves-effect">
      <%= image_tag("varun.jpg", class: "img-circle") %>
      <span class="hide-menu">
         <%= current_user.try(:first_name) || "User" %>
         <span class="fa arrow"></span>
      </span>
   </a>
   <ul class="nav nav-second-level">
      <li>
         <%= link_to user_path(current_user.id) do %>
            <i class="ti-user"></i>
            My Profile
         <% end %>
      </li>
      <li>
         <a href="javascript:void(0)">
            <i class="ti-wallet"></i>
            Property Requests
         </a>
      </li>
      <li>
         <a href="javascript:void(0)">
            <i class="ti-email"></i>
            Inbox
         </a>
      </li>
      <li>
         <%= link_to edit_user_registration_path(current_user.id) do %>
            <i class="ti-settings"></i>
            Edit Profile
         <% end %>
      </li>
      <li>
         <%= link_to destroy_user_session_path, method: :get do %>
            <i class="fa fa-power-off"></i>
            Logout
         <% end %>
      </li>
   </ul>
</li>