<nav class="navbar navbar-default navbar-static-top m-b-0">
   <div class="navbar-header">
      <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse">
         <i class="ti-menu"></i>
      </a>
      <div class="top-left-part">
         <a class="logo" href="index.html">
            <b><%= image_tag("public_bnb_nav_icon.png") %></b>
            <span class="hidden-xs"><%= image_tag("public_bnb_nav_text.png") %> </span>
         </a>
      </div>
      <ul class="nav navbar-top-links navbar-left hidden-xs">
         <li>
            <a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light">
               <i class="icon-arrow-left-circle ti-menu"></i>
            </a>
         </li>
      </ul>
      <ul class="nav navbar-top-links navbar-right pull-right">
         <% if user_signed_in? %>
            <%= render "layouts/navmessages" %>
            <%= render "layouts/navfavorites" %> 
            <%= render "layouts/navprofile" %>
         <%end%>
         <% unless user_signed_in? %>
            <%= link_to('Login', new_user_session_path, class: "nav-sign-in")  %>  
            <%= link_to('Register', new_user_registration_path, class: "btn btn-sign-up pull-right m-r-20 m-t-nav-button p-h-nav-signup btn-rounded")  %>
         <%end%>
      </ul>
   </div>
</nav>
