<li class="dropdown">
   <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">
      <%= image_tag(current_user.avatar_url, class: "img-circle nav-profile-marg-fix", width: 36)%>
      <b class="hidden-xs">
         <%=current_user.try(:first_name) || "User" %>
      </b>
   </a>
   <ul class="dropdown-menu dropdown-user scale-up">
      <li>
         <%= link_to user_path(current_user.id) do %>
            <i class="ti-user"></i>
            My Profile
         <% end %>
      </li>
      <li>
         <a href="#">
            <i class="ti-wallet"></i>
            My Balance
         </a>
      </li>
      <li>
         <a href="#">
            <i class="ti-email"></i>
            Inbox
         </a>
      </li>
      <li role="separator" class="divider"></li>
      <li>
         <%= link_to edit_user_registration_path(current_user.id) do %>
            <i class="ti-settings"></i>
            Edit Profile
         <% end %>
      </li>
      <li role="separator" class="divider"></li>
      <li>
         <%= link_to destroy_user_session_path, method: :get do %>
            <i class="fa fa-power-off"></i>
            Logout
         <% end %>
      </li>
   </ul>
</li>