<li class="dropdown">
   <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">
      <%= image_tag("varun.jpg", class: "img-circle nav-profile-marg-fix", width: 36)%>
      <b class="hidden-xs">
         <%=current_user.try(:first_name) || "User" %>
      </b>
   </a>
   <ul class="dropdown-menu dropdown-user scale-up">
      <li>
         <%= link_to user_path(current_user.id) do %>
            <i class="ti-user"></i>
            My Profile
         <% end %>
      </li>
      <% if current_user.is_participant? %>
         <li>
            <%= link_to favorite_dwellings_users_path do %>
               <i class="ti-star"></i>
               Favorites
            <% end %>
         </li>
      <% end %>
      <li>
         <%= link_to dwelling_applications_users_path do %>
            <i class="ti-folder"></i>
            Property Requests
         <% end %>
      </li>
      <li>
         <%= link_to inbox_users_path do %>
            <i class="ti-email"></i>
            Inbox
         <% end %>
      </li>
      <li role="separator" class="divider"></li>
      <li>
         <%= link_to edit_user_registration_path(current_user.id) do %>
            <i class="ti-settings"></i>
            Edit Profile
         <% end %>
      </li>
      <li role="separator" class="divider"></li>
      <li>
         <%= link_to destroy_user_session_path, method: :get do %>
            <i class="fa fa-power-off"></i>
            Logout
         <% end %>
      </li>
   </ul>
</li>